body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
}
/*header css*/
#section{
    width: 100%;
    height: 100vh;
    background-image: url("/assets/backround.png");
}
.collapse{
    color: #fff;
    display: flex;
    justify-content: center;
}
.collapse a{
    color: #fff;
    margin: 0 15px;
    font-weight: bolder;
}
#section H2{
    color: #fff;
    position: relative;
    top: 100px;
    left: 200px;
    font-weight: bolder;
    margin-top: 20px;
    height: fit-content;
    display: table  ;
}
#hpara{
    color: #fff;
    position: relative;
    top: 120px;
    left: 200px;
    font-weight: lighter;
    display:table;
}
#hbutton{
    box-shadow: -10px 10px 5px #be5427;
    color: #fff;
    position: relative;
    top: 140px;
    left: 200px;
    background-color: #B77E66;
    border: none;
    height: 50px;
    width: 170px;
    border-radius: 10px 50px;
}

/*header css end*/

/*section 1 css*/
#section1{
    height: 100vh;
    width: 100%;
    background-color: #1d0a01;
    display: flex;
    justify-content: center;
    align-items: center;
}
#ourstory{
    width: 80%;
    height: 55%;
    background-image: linear-gradient(to left,#683a27,transparent);
    border-radius: 50px;
    box-shadow: -5px -5px 5px black;
}
#s1img1{
    position: relative;
    bottom: 60px;
    right: 60px;
}
#s1img2{
    position: relative;
    bottom: 300px;
    left: 200px;
}
#s1p{
    color: #fff;
    position: relative;
    bottom: 630px;
    left: 600px;
    line-height: 40px;
}


/*section 1css end */

/*section 2 css*/
#section2{
    width: 100%;
    height: fit-content;
    background-image: url("/assets/image\ 6.png");
    display: flex;
    justify-content: space-around;
}
#section2 .row {
    margin-left: 50px;
}

#section2 .card{
    border-radius: 20px;
    width: 190px;
    height: 230px;
    background-color: #7e5948dd;
    display: flex;
    margin: 10px;
    justify-self: center;
}
#section2 .card:hover{
    background-color: black ;
    scale: 1.1;

}
#section2 .card:hover button{
    
    background-color: #7e5948dd;
}
#section2 .card img{
    max-width: 150px;
    max-height: 100px;
    align-self: center;
    border-radius: 10px;
    object-fit: cover;
    position: relative;
    top: 4px;
    
}
#section2 .card p{
    font-size: 10px;
    color: #fff;
    position: relative;
    bottom: 8px;
}
#section2 .card h5{
    font-size: 17px;
    font-weight: bolder;
    color: #fff;
    position: relative;
    bottom: 8px;

}
#section2 .card span{
    color: #fff;
    position: relative;
    bottom: 10px;
}
#section2 .card button{
    border: none;
    width: 100px;
    padding: 5px;
    position: relative;
    bottom: 20px;
    left: 15px;
    border-radius: 8px 25px;
    background-color: #1d0a01;
    color: #fff;
}
#section2 .card button:hover{
    background-color: #683a27;
    box-shadow: 5px 5px 5px #fff;
}
#section2 h3{
    position: relative;
    left: 35%;
    font-weight: bolder;
    color: #B77E66;
    font-size: 60px;
}
h3::first-letter{
    color: #683a27;
}

/* section 2 css end*/

/*section 3css*/
#section3{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(to bottom right , #1d0a01,#7e5948dd);
    display: flex;
    justify-content: center;
    align-items: center;
}
#section3 #reservation{
    background-color: black;
    width: 90%;
    height: 70%;
    display: flex;
    align-items: center;
    background-image: linear-gradient(to bottom right ,#7e5948dd, #1d0a01);
}
#section3 #inputs{
    position: relative;
    right: 300px;
}
#date,#text,#tele{
    display: block;
    width: 300px;
    height: 35px;
    margin: 20px;
    border-radius: 5px;
    border: none;
    box-shadow: -5px 5px 5px burlywood;

}
#time,#number,#email{
    display: inline-block;
    margin: 20px;
    width: 120px;
    height: 35px;
    border-radius: 5px;
    border: none;
    box-shadow: -5px 5px 5px burlywood;
}
#button{
    width: 120px;
    height: 35px;
    border-radius: 8px 20px;
    border: 2px burlywood solid;
    background-color: #683a27;
    color: #fff;
    box-shadow: -5px 5px 5px burlywood;
}
#button:hover{
    box-shadow: none;
    color: burlywood;
    background-color: black;
}
#s3im1{
    width: 40%;
    height: 100%;
}
#s3im2{
    width: 50%;
    height: 40%;
    position: relative;
    bottom: 180px;
    left: 150px;

}
/*section 3 css end*/

/*section 4 css*/
#section4{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #180e0a;
}
#section4 h2{
    color: #fff;
    margin-top: 2px;
    position: static;
}
#section4 .card{
    display: flex;
    align-items: center;
    background-color: #B77E66;
    border-radius: 50px;

}
#section4 .card img {
    border-radius: 100px;
    width: 200px;
    height: 200px;
}
.card h5{
    align-self: center;
    color: #fff;
}
.card p{
    align-self: center;
    color: antiquewhite;
}
/*section 4 css end*/

/* section 5 css*/
#section5{
    width: 100%;
    height: 50%;
    background-color: #180e0a;

}
#map1{
    width: 98%;
    height: 90%;
    margin-left: 18px;
    margin-top: 20px;
    border: #683a27 solid 10px;
}
#map2{
    position: relative;
    bottom: 300px;
}
/*section5 css end*/
/*FOOTER CSS */

footer{
    width: 100%;
    height: 50vh;
    overflow: hidden;
    background-image: url("/assets/footer.jpeg");
    background-size:cover;
}
footer #opacity{
    width: 100%;
    height: 100%;
    background-color: #140b06e3;
}
footer a{
    color: #fff;
    text-decoration: none;

}
footer span{
    color: #fff;
    font-size: 20px;
}
#sm{
    position: absolute;
    right: 0;
}
footer .row img{
    width: 250px;
}
.col2,.col3,.col4{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.col2 svg,.col3 svg,.col4 svg{
    color: #fff;
}
.col2 a:hover,.col3 a:hover,.col4 a:hover{
    color: #be5427;
}

/*FOOTER CSS END*/

@media only screen and (max-width:767px ){
    #section H2{
        top: 80px;
        left: 50px;
        margin-top: 20px;
    }
    #hpara{
        top: 80px;
        left: 50px;
    }
    #hbutton{
        top: 80px;
        left: 50px;
    }
    #ourstory{
        height: 40%;
    }
    #s1img1{
        display: none;
    }
    #s1img2{
        bottom: 30px;
        left: 10px;
    }
    #s1p{
        font-size: 13px;
        bottom: 90px;
        left: 10px;
        line-height: 25px;
    }
    #section2{
        background-repeat: no-repeat;
        background-size: cover;
    }
    #section2 h3{
        left: 17%;
    }
    #section3 #inputs{
        right: 180px;
    }
    #s3im1{
        display: none;
    }
    #s3im2{
        width: 50%;
        height: 50%;
        bottom: 160px;
    }
    #section4 .card{
        margin: 10px;
        width: 270px;
        height: 300px;
    
    }
    #section4 .card img {
        border-radius: 100px;
        width: 170px;
        height: 170px;
        margin-top: 5px;
    }
    #map1{
        margin: 5px;
        border: #683a27 solid 10px;
    }
    footer .row img{
        width: 150px;
    }
    .col2,.col3,.col4,.col-3 img{
        position: relative;
        top: 80px;
    }
    .navbar-brand img {
        width: 100px;
    }
    
} 