body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
}
/*header css*/
#section{
    width: 100%;
    height: 100vh;
    background-image: url("assets/backround.png");
}
.collapse{
    color: #fff;
    display: flex;
    justify-content: center;
}
.collapse a{
    color: #fff;
    margin: 0 15px;
    font-weight: bolder;
}
#section H2{
    color: #fff;
    position: relative;
    top: 100px;
    left: 200px;
    font-weight: bolder;
    margin-top: 20px;
    height: fit-content;
    display: table  ;
}
#hpara{
    color: #fff;
    position: relative;
    top: 120px;
    left: 200px;
    font-weight: lighter;
    display:table;
}
#hbutton{
    box-shadow: -10px 10px 5px #be5427;
    color: #fff;
    position: relative;
    top: 140px;
    left: 200px;
    background-color: #B77E66;
    border: none;
    height: 50px;
    width: 170px;
    border-radius: 10px 50px;
}

/*header css end*/

/*section 1 css*/
#section1{
    height: 100vh;
    width: 100%;
    background-color: #1d0a01;
    display: flex;
    justify-content: center;
    align-items: center;
}
#ourstory{
    width: 1100px;
    height: 55%;
    background-image: linear-gradient(to left,#683a27,transparent);
    border-radius: 50px;
    box-shadow: -5px -5px 5px black;
}
#s1img1{
    position: relative;
    bottom: 60px;
    right: 60px;
}
#s1img2{
    position: relative;
    bottom: 300px;
    left: 100px;
}
#s1p{
    color: #fff;
    position: relative;
    bottom: 630px;
    left: 600px;
    line-height: 40px;
    font-size: 15px;
}
/* header in button */
#hbutton {
    box-shadow: -10px 10px 5px #be5427;
    color: #fff;
    position: relative;
    top: 140px;
    left: 200px;
    background-color: #B77E66;
    border: none;
    height: 50px;
    width: 170px;
    border-radius: 10px 50px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 25px;
    margin-right: 18px;
}

#hbutton:hover {
    animation: AnimatedButton 0.9s both;
}

@keyframes AnimatedButton {
    0% {
        transform: scale3d(1, 1, 1);
    }

    30% {
        transform: scale3d(1.50, 0.75, 1);
    }
    40% {
        transform: scale3d(0.75, 1.25, 1);
    }

    50% {
        transform: scale3d(1.15, 0.85, 1);
    }

    65% {
        transform: scale3d(0.95, 1.05, 1);
    }

    75% {
        transform: scale3d(1.05, 0.95, 1);
    }

    100% {
        transform: scale3d(1,1,1);
}
}

/*section 1css end */

/*section 2 css*/
#section2{
    width: 100%;
    height: fit-content;
    background-image: url("assets/image\ 6.png");
    display: flex;
    justify-content: space-around;
}
#section2 .row {
    margin-left: 50px;
}

#section2 .card{
    border-radius: 20px;
    width: 190px;
    height: 230px;
    background-color: #7e5948dd;
    display: flex;
    margin: 10px;
    justify-self: center;
}
#section2 .card:hover{
    background-color: black ;
    scale: 1.1;
    transition: .7s;

}
#section2 .card:hover button{
    
    background-color: #7e5948dd;
}
#section2 .card img{
    max-width: 150px;
    max-height: 100px;
    align-self: center;
    border-radius: 10px;
    object-fit: cover;
    position: relative;
    top: 4px;
    
}
#section2 .card p{
    font-size: 10px;
    color: #fff;
    position: relative;
    bottom: 8px;
}
#section2 .card h5{
    font-size: 17px;
    font-weight: bolder;
    color: #fff;
    position: relative;
    bottom: 8px;

}
#section2 .card span{
    color: #fff;
    position: relative;
    bottom: 10px;
}
#section2 .card button{
    border: none;
    width: 100px;
    padding: 5px;
    position: relative;
    bottom: 20px;
    left: 15px;
    border-radius: 8px 25px;
    background-color: #1d0a01;
    color: #fff;
}
#section2 .card button:hover{
    background-color: #683a27;
    box-shadow: 5px 5px 5px #fff;
}
#section2 h3{
    position: relative;
    left: 35%;
    font-weight: bolder;
    color: #B77E66;
    font-size: 60px;
}
h3::first-letter{
    color: #683a27;
}

/* section 2 css end*/

/*section 3css*/
#section3{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(to bottom right , #1d0a01,#7e5948dd);
    display: flex;
    justify-content: center;
    align-items: center;
}
#section3 #reservation{
    background-color: black;
    width: 90%;
    height: 70%;
    display: flex;
    align-items: center;
    background-image: linear-gradient(to bottom right ,#7e5948dd, #1d0a01);
}
#section3 #inputs{
    position: relative;
    right: 300px;
}
#date,#text,#tele{
    display: block;
    width: 300px;
    height: 35px;
    margin: 20px;
    border-radius: 5px;
    border: none;
    box-shadow: -5px 5px 5px burlywood;

}
#time,#number,#email{
    display: inline-block;
    margin: 20px;
    width: 120px;
    height: 35px;
    border-radius: 5px;
    border: none;
    box-shadow: -5px 5px 5px burlywood;
}
#button{
    width: 120px;
    height: 35px;
    border-radius: 8px 20px;
    border: 2px burlywood solid;
    background-color: #683a27;
    color: #fff;
    box-shadow: -5px 5px 5px burlywood;
}
#button:hover{
    box-shadow: none;
    color: burlywood;
    background-color: black;
}
#s3im1{
    width: 40%;
    height: 100%;
}
#s3im2{
    width: 50%;
    height: 40%;
    position: relative;
    bottom: 180px;
    left: 150px;

}
/*section 3 css end*/


/* section 5 css*/
#section5{
    width: 100%;
    height: 50%;
    background-color: #180e0a;

}
#map1{
    width: 98%;
    height: 90%;
    margin-left: 18px;
    margin-top: 20px;
    border: #683a27 solid 10px;
}
#map2{
    position: relative;
    bottom: 300px;
}
/*section5 css end*/
/*FOOTER CSS */

footer{
    width: 100%;
    height: 50vh;
    overflow: hidden;
    background-image: url("assets/footer.jpeg");
    background-size:cover;
}
footer #opacity{
    width: 100%;
    height: 100%;
    background-color: #140b06e3;
}
footer a{
    color: #fff;
    text-decoration: none;

}
footer span{
    color: #fff;
    font-size: 20px;
}
#sm{
    position: absolute;
    right: 0;
}
footer .row img{
    width: 250px;
}
.col2,.col3,.col4{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.col2 svg,.col3 svg,.col4 svg{
    color: #fff;
}
.col2 a:hover,.col3 a:hover,.col4 a:hover{
    color: #be5427;
}

/*FOOTER CSS END*/

@media only screen and (max-width:768px ){
    body{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        width: 100%;
        height: 100vh;
        overflow-x: hidden;
    }
    #section H2{
        top: 80px;
        left: 50px;
        margin-top: 20px;
    }
    #hpara{
        top: 80px;
        left: 50px;
    }
    #hbutton{
        top: 80px;
        left: 50px;
    }
    #ourstory{
        height: 40%;
        width: 630px;
    }
    #s1img1{
        display: none;
    }
    #s1img2{
        bottom: 30px;
        left: 10px;
    }
    #s1p{
        font-size: 13px;
        bottom: 90px;
        left: 10px;
        line-height: 25px;
    }
    #section2{
        background-repeat: no-repeat;
        background-size: cover;
    }
    #section2 h3{
        align-self: center;
        font-size: 40px;
    }
    #section2 .row{
        align-self: center;
        margin-left: 0;
    }
    #section3 #inputs{
        right: 180px;
    }
    #s3im1{
        display: none;
    }
    #s3im2{
        width: 50%;
        height: 50%;
        bottom: 150px;
    }
    #section3 #reservation{
        width:60%;
    }
    #map1{
        margin: 5px;
        border: #683a27 solid 10px;
    }
    #map2{
        bottom: 270px;
    }
    footer .row img{
        width: 150px;
    }
    .col2,.col3,.col4,.col-3 img{
        position: relative;
        top: 80px;
    }
    .navbar-brand img {
        width: 100px;
    }
    
}

@media only screen and (max-width:425px){
    body{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        width: 100%;
        height: 100vh;
        overflow-x: hidden;
    }
    #section H2{
        top: 80px;
        left: 30px;
        margin-top: 10px;
        font-size: 20px;
    }
    #hpara{
        font-size: 12px;
        top: 80px;
        left: 30px;
    }
    #hbutton{
        font-size: 14px;
        width:120px;
        height: 50px;
        top: 80px;
        left: 50px;
    }
    #ourstory{
        height: 40%;
    }
    #s1img1{
        display: none;
    }
    #s1img2{
        bottom: 11px;
        left: 15px;
        width: 100px;
        height: 50px;
    }
    #s1p{
        font-size: 10px;
        bottom: 30px;
        left: 9px;
        line-height : 25px;
    }
    #ourstory{
        width: 93%;
        height: 35%;
    }
    #section2{
        background-repeat: no-repeat;
        background-size: cover;
    }
    #section2 h3{
        font-size: 40px;
        left: 5%;
    }
    #section2 .row{
        margin-left: 70px;
    }
    #section2 .card{
        width: 180px;
        height: 200px;
    }
    #section2 .card img{
        width: 80px;
        height: 70px;
        border-radius: 20px;
    }
    #section2 .card p{
        font-size: 9px;
    }
    #section2 .card h5{
        font-size: 14px;
    }
    #section2 .card span{
        font-size: 14px;
    }
    #section2 .card button{
        border: none;
        width: 90px;
        height: 30px;
        font-size: 12px;
        bottom: 10px;
    }
    #section3 #inputs{
        right: 210px;
    }
    #date,#text,#tele{
        width: 250px;
        height: 35px;
    
    }
    #time,#number,#email{
        width: 100px;
        height: 35px;
    }
    #s3im1{
        display: none;
    }
    #s3im2{
        width: 70%;
        height: 50%;
        bottom: 180px;
        object-fit: contain;
    }
    
    .card h5{
        font-size: 12px;
    }
    .card p{
        font-size: 7px;
    }
    #map1{
        object-fit: cover;
        width: 99%;
        margin-left: 1px;
    }
    #map2{
        left: 4px;
        width: 100px;
        height: 50px;
        bottom: 270px;
        object-fit: contain;
    }
    footer .row img{
        width: 90px;
    }
    .col2,.col3{
        font-size: 10px;
        position: relative;
        top: 80px;
    }
    .col4{
        font-size: 7px;
    }
    .col4 svg{
        display: none;
    }

    .navbar-brand img {
        width: 100px;
    }
    footer #sm span{
       font-size: 10px ;
    }
    footer #sm a img{
        width: 15px ;
    }
     
    #reservation{
        background: none !important;
    }
}

@media only screen and (max-width:320px){
    body{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        width: 100%;
        height: 100vh;
        overflow-x: hidden;
    }
    #section H2{
        top: 80px;
        left: 30px;
        margin-top: 10px;
        font-size: 15px;
    }
    #hpara{
        font-size: 12px;
        top: 80px;
        left: 30px;
    }
    #hbutton{
        font-size: 14px;
        width:120px;
        height: 50px;
        top: 80px;
        left: 50px;
    }
    #ourstory{
        height: 40%;
    }
    #s1img1{
        display: none;
    }
    #s1img2{
        bottom: 11px;
        left: 15px;
        width: 100px;
        height: 50px;
    }
    #s1p{
        font-size: 8px;
        bottom: 30px;
        left: 8px;
        line-height : 25px;
    }
    #ourstory{
        width: 93%;
        height: 35%;
    }
    #section2{
        background-repeat: no-repeat;
        background-size: cover;
    }
    #section2 h3{
        font-size: 40px;
        left: 5%;
    }
    #section2 .card{
        width: 140px;
        height: 180px;
    }
    #section2 .card img{
        width: 80px;
        height: 70px;
    }
    #section2 .card p{
        font-size: 7px;
    }
    #section2 .card h5{
        font-size: 11px;
    }
    #section2 .card span{
        font-size: 11px;
    }
    #section2 .card button{
        border: none;
        width: 70px;
        height: 30px;
        font-size: 7px;
        bottom: 10px;
    }
    #section3 #inputs{
        right: 200px;
    }
    #date,#text,#tele{
        width: 200px;
        height: 35px;
    
    }
    #time,#number,#email{
        width: 70px;
        height: 35px;
    }
    #s3im1{
        display: none;
    }
    #s3im2{
        width: 70%;
        height: 40%;
        bottom: 180px;
        margin-right: 50px !important;
    }
    .card h5{
        font-size: 12px;
    }
    #reservation{
        background: none !important;
    }
    .card p{
        font-size: 7px;
    }
    #map1{
        object-fit: cover;
    }
    #map2{
        width: 100px;
        height: 50px;
        bottom: 270px;
        object-fit: contain;
    }
    footer .row img{
        width: 90px;
    }
    .col2,.col3{
        font-size: 10px;
        position: relative;
        top: 80px;
    }
    .col4{
        font-size: 7px;
    }
    .col4 svg{
        display: none;
    }

    .navbar-brand img {
        width: 100px;
    }
    footer #sm span{
       font-size: 10px ;
    }
    footer #sm a img{
        width: 15px ;
     }
}




 

